*{
    margin: 0;
    padding: 0;
}

:root{
    --header-height: 120px;
    --nav-height: 26px;
}

.header{
height: var(--header-height);
width: 100%;
background-image: linear-gradient(180deg,#f53e2d,#fe6432);
}
.nav ul li a:hover{

}

.nav{
    display: flex;
    justify-content: space-between;
}
.left1,.right1{
    display: flex;
    list-style: none;
    text-decoration: none;

}
.nav ul li a{
    
    font-size: 14px;
    text-decoration: none;
    color: white;
     /* border: 2px solid white;  */
     margin-right: 10px;
}
.nav ul{
    margin-top: 8px;
    
    }
.left1{
    margin-left: 75px;
}
.right1{
    margin-right: 75px;
}

.dk::after{
    content: "";
    border: solid 1px white;
    margin-left: 10px;
    opacity: 0.5;
}
.nav ul li a:hover{
opacity: 0.5;

}
.logo{
    display: flex;
width:100%;
height: calc(var(--header-height) - var(--nav-height));


}
.image{
width:15%;
height: 100%;

}
.shopee{
font-size: 70px;
color:white;
padding-left:75px;
padding-top:10px;
}
.search{
    display: flex;
background-color:white;
height:43px;
flex:1;
margin-top:25px;
}
.input{
    width:90%;
}
input{
   /* size:50px; */
   width: 100%;
   height: 100%;
outline:none;
border:none;
}
.icon{
    width:10%;
    text-align: center;
    padding: top 4px;
    background-color:#fb5533;
    color:white;
    margin:3px;
    padding-top:10px;
}
.logo{
    width
}
.text{
text-align: center;
font-size:  15px;
}
.right2{
width:15%;


}
.cart{
font-size:30px;
color:white;
padding-left:30px;
padding-top:30px;
}
.left1{
    position: relative;
}
.addition{
    display: flex;
    display: none;
    width:200px;
    height: 250px;
position: absolute;
/* background-color: orange; */
flex-direction: column;
}
.nav ul li a:hover .addition{
    display:block;
    opacity:1;
}
.qr-code{
    width:200px;
    height: 200px;
}
.qr{
width:100%;
heght:100%;
}
.app{
    width: 100%;
    display: flex;
    height: 50px;
}
.store{
    width: 50%;

    height: 100%;
}
.googleplay{
width: 100%;
height: 100%;
}
.appstore{
    width: 100%;
    height: 100%;
}
